body {color: darkblue; font-size: medium; font-family: 'Times New Roman', Times, serif;}
h1 {font-size: x-large;}
p {font-family: Arial, Helvetica, sans-serif; color: darkslategray;}
table {text-align: center;}